<template>
    <style>
        #$ {
            turn
        }

        {
            color: red
        }
    </style>
    <require from="./Game.css"></require>
    <div class="grid-container">
        <div class="Speler3">
            <h2>
                <select id="Player3" ref="Player3">
                    <option value="" disabled selected>player 3</option>
                    <option repeat.for="player of players" value="${player}">${player}</option>
                </select>
                ${Player3Bid}
            </h2>
        </div>

        <div class="Speler3Kaarten">
            <img repeat.for="card of CardsPlayer3" src="${card}.jpg" style="position: absolute; top: 110px; left: ${400+$index*50}px " />
        </div>

        <div class="Speler2">
            <h2>
                <select id="Player2" ref="Player2">
                    <option value="" disabled selected>player 2</option>
                    <option repeat.for="player of players" value="${player}">${player}</option>
                </select>
                ${Player2Bid}
            </h2>
        </div>

        <div class="Speler2Kaarten">
            <img repeat.for="card of CardsPlayer2" src="${card}.jpg" style="position: absolute; left: 40px; top: ${10+$index*30}px " />

        </div>

        <div class="Speelveld">
            <div id="begintext" style="display: ${none}">
                <h1>
                    If the 4 players are selected begin your game here:<br /><br />
                    <button click.delegate="BeginGame(Player1.value,Player2.value,Player3.value,Player4.value)">Delen!</button>

                </h1>
            </div>
            <div id="keuzeVoorbereidingsronde" style="display: ${nohide}">
                <h3> What are you going to do?</h3>
                <form>
                    <!-- click.delegate op input radio maken-->
                    <div repeat.for="ChoicePlayer of ChoicesPlayer">
                        <input type="radio" name="choice" value=${ChoicePlayer} checked.bind="choice">${ChoicePlayer}<br />
                        <button click.delegate="SubmitChoice(choice)">OK</button>
                    </div>


                    ${GameTypeGame}
                    ${GameTypePlayer}
                </form>
            </div>
        </div>

        <div class="Speler4Kaarten">
            <img repeat.for="card of CardsPlayer4" src="${card}.jpg" style="position: absolute; left: 40px; top: ${10+$index*30}px " />

        </div>

        <div class="Speler4">
            <h2>
                <select id="Player4" ref="Player4">
                    <option value="" disabled selected>player 4</option>
                    <option repeat.for="player of players" value="${player}">${player}</option>
                </select>
                ${Player4Bid}
            </h2>
        </div>

        <div class="Speler1Kaarten">
            <img repeat.for="card of CardsPlayer1" src="${card}.jpg" style="position: absolute; bottom: 95px; left: ${400+$index*50}px " />

        </div>
        <div class="Speler1">
            <h2>
                <select id="Player1" ref="Player1">
                    <option value="" disabled selected>player 1</option>
                    <option repeat.for="player of players" value="${player}">${player}</option>
                </select>
                ${Player1Bid}
            </h2>
        </div>

    </div>



</template>