.Speler3 {
    grid-area: Speler3;
    height: 90px;
    
}

.Speler3Kaarten {
    grid-area: Speler3Kaarten;
    height: 130px;
    overflow: auto;
    overflow-y: hidden;
}

.Speler2 {
    grid-area: Speler2;
    height: 500px;
}

.Speler2Kaarten {
    grid-area: Speler2Kaarten;
    height: 500px;
    width: 170px;
    position: relative;
}

.Speelveld {
    grid-area: Speelveld;
    width: 700px;
    height: 500px;
}

.Speler4 {
    grid-area: Speler4;
    position: relative;
    height: 500px;
}

.Speler4Kaarten {
    grid-area: Speler4Kaarten;
    height: 500px;
    width: 170px;
    position: relative;
}

.Speler1Kaarten {
    grid-area: Speler1Kaarten;
    height: 130px;
    overflow: auto;
    overflow-y: hidden;
}

.Speler1 {
    grid-area: Speler1;
    height: 90px;
}



.grid-container {
    display: grid;
    grid-template-areas: 'Speler3 Speler3 Speler3  Speler3 Speler3 ' 'Speler3Kaarten Speler3Kaarten  Speler3Kaarten Speler3Kaarten Speler3Kaarten' 'Speler2  Speler2Kaarten   Speelveld Speler4Kaarten Speler4' 'Speler1Kaarten  Speler1Kaarten Speler1Kaarten Speler1Kaarten Speler1Kaarten' 'Speler1 Speler1  Speler1 Speler1 Speler1';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    padding-bottom: 0px;
    width: 1504px;
    height: 991px;
}

    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }

.Speler1Kaarten img {

    height: 130px;
    width: 97px;
}

.Speler2Kaarten img {
    height: 130px;
    width: 97px;
}

.Speler3Kaarten img {
    height: 130px;
    width: 97px;
}

.Speler4Kaarten img {
    height: 130px;
    width: 97px;
   
}
