<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rik application</title>
    <require from="./StartGame.css"></require>
</head>
<body>
    <div class="grid-container">
        <div class="Speler3"><h1>Speler 3</h1></div>

        <div class="Speler3Kaarten">
            <img src="schoppen_2.png" style="position: relative;left: 500px;">
            <img src="schoppen_2.png" style="position: relative;left: 425px;">
            <img src="schoppen_2.png" style="position: relative;left: 350px;">
            <img src="schoppen_2.png" style="position: relative;left: 275px;">
            <img src="schoppen_2.png" style="position: relative;left: 200px;">
            <img src="schoppen_2.png" style="position: relative;left: 125px;">
            <img src="schoppen_2.png" style="position: relative;left: 50px;">
            <img src="schoppen_2.png" style="position: relative;left: -25px;">
            <img src="schoppen_2.png" style="position: relative;left: -100px;">
            <img src="schoppen_2.png" style="position: relative;left: -175px;">
            <img src="schoppen_2.png" style="position: relative;left: -250px;">
            <img src="schoppen_2.png" style="position: relative;left: -325px;">
            <img src="schoppen_2.png" style="position: relative;left: -400px;">
        </div>

        <div class="Speler2"><h1>Speler 2</h1></div>

        <div class="Speler2Kaarten">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 25px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 50px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 75px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 100px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 125px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 150px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 175px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 200px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 225px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 250px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 275px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 300px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 325px;">
        </div>

        <div class="Speelveld"><h1>speelveld</h1></div>

        <div class="Speler4Kaarten">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 25px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 50px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 75px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 100px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 125px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 150px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 175px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 200px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 225px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 250px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 275px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 300px;">
            <img src="Schoppen_Aas_.png" style="position: absolute; left: 5%; top: 325px;">
        </div>

        <div class="Speler4"><h1>Speler 4</h1></div>

        <div class="Speler1Kaarten">

            <img src="schoppen_2.png" style="position: relative;left: 500px;">
            <img src="schoppen_2.png" style="position: relative;left: 425px;">
            <img src="schoppen_2.png" style="position: relative;left: 350px;">
            <img src="schoppen_2.png" style="position: relative;left: 275px;">
            <img src="schoppen_2.png" style="position: relative;left: 200px;">
            <img src="schoppen_2.png" style="position: relative;left: 125px;">
            <img src="schoppen_2.png" style="position: relative;left: 50px;">
            <img src="schoppen_2.png" style="position: relative;left: -25px;">
            <img src="schoppen_2.png" style="position: relative;left: -100px;">
            <img src="schoppen_2.png" style="position: relative;left: -175px;">
            <img src="schoppen_2.png" style="position: relative;left: -250px;">
            <img src="schoppen_2.png" style="position: relative;left: -325px;">
            <img src="schoppen_2.png" style="position: relative;left: -400px;">
        </div>
        <div class="Speler1"><h1>Speler 1</h1></div>

    </div>
</body>
</html>